
html {
    height: 100%;
  }
  
  body {
    overflow: hidden;
    background: #bcdee7 url("../img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    font: normal 14px/1.618em "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  /* body:before {
    content: "";
    height: 0px;
    padding: 0px;
    border: 130em solid #313440;
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 2;
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
    animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  } */
  
  /* h1,
  h2 {
    font-weight: 500;
    margin: 0px 0px 5px 0px;
  } */

  .profile-card {
    background: #FFB300;
    width: 100px;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    margin-top: 70px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }
.profile-card .pr_card_header {
    width: 100%;
    height: 300px;
    padding: 40px 20px 30px 20px;
    display: inline-block;
    display: flex;
    float: left;
    border-right: 2px dashed #EEEEEE;
    background: #FFFFFF;
    color: #000000;
    margin-top: 50px;
    opacity: 0;
    text-align: center;
    -webkit-animation: moveIn 1s 3.1s ease forwards;
    animation: moveIn 1s 3.1s ease forwards;
  }
  .profile-card .pr_card_header .Std_card_btn{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-top: -5px;
  }
  .profile-card .pr_card_header .Std_card_btn:hover{
    color: red;
    transition: .9s;
  }
  .profile-card .pr_card_header .std_card_info{
    width: 100%;
    height: 100%;
    text-align: start;
    margin: 5px -5px;

  }
  .profile-card .pr_card_header .std_card_info p{
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 3px;
  }
  .profile-card .pr_card_header .std_card_info h3{
    color: #fb0404;
    font-size: 16px;
    font-weight: 500;
    padding: 3px;
  }
  .profile-card .pr_card_header .std_card_info h3 .std_name_note{
    color: #000000be;
    font-size: 14px;
    font-weight: 400;
  }
  .profile-card .pr_card_header .std_card_info p .std_name_e {
    color:#000000be;
    font-size: 16px;
    font-weight: 600;
  }
  .Card_note{
    margin-top: 10px;
  }
  .profile-card .pr_card_header a {
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 15px 20px 0 0;
    overflow: hidden;
    transition: 1 ;
  }
  
  /* .profile-card .pr_card_header a:after {
    position: absolute;
    content: "";
    bottom: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
    border: 4px solid #FFFFFF;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.186);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
    animation: scaleIn 0.3s 3.5s ease forwards;
  } */
  
  .profile-card .pr_card_header a > img {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
    border-radius: 4%;
    margin-left: -70px;
  }
  .profile-card .pr_card_header a > img:hover{
    scale: 1.1;
    transition: 1s;
  }
  
  @-webkit-keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @keyframes init {
    0% {
      width: 0px;
      height: 0px;
    }
    100% {
      width: 56px;
      height: 56px;
      margin-top: 0px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @keyframes puff {
    0% {
      top: 100%;
      height: 0px;
      padding: 0px;
    }
    100% {
      top: 50%;
      height: 100%;
      padding: 0px 100%;
    }
  }
  
  @-webkit-keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      -webkit-border-radius: 0px;
    }
  }
  
  @keyframes borderRadius {
    0% {
      -webkit-border-radius: 50%;
    }
    100% {
      border-radius: 0px;
    }
  }
  
  @-webkit-keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @keyframes moveDown {
    0% {
      top: 50%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 100%;
    }
  }
  
  @-webkit-keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #E0E0E0;
    }
  }
  
  @keyframes moveUp {
    0% {
      background: #FFB300;
      top: 100%;
    }
    50% {
      top: 40%;
    }
    100% {
      top: 50%;
      background: #E0E0E0;
    }
  }
  
  @-webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 440px;
      height: 280px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 440px;
      height: 280px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
  
  @-webkit-keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @keyframes moveIn {
    0% {
      margin-top: 50px;
      opacity: 0;
    }
    100% {
      opacity: 1;
      margin-top: -20px;
    }
  }
  
  @-webkit-keyframes scaleIn {
    0% {
      -webkit-transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @-webkit-keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes ripple {
    0% {
      transform: scale3d(0, 0, 0);
    }
    50%,
    100% {
      transform: scale3d(1, 1, 1);
    }
    100% {
      opacity: 0;
    }
  }
  
  @media screen and (min-aspect-ratio: 4/3) {
    body {
      background-size: cover;
    }
    body:before {
      width: 0px;
    }
    @-webkit-keyframes puff {
      0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
      }
      100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @keyframes puff {
      0% {
        top: 100%;
        width: 0px;
        padding-bottom: 0px;
      }
      100% {
        top: 50%;
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }
  
  @media screen and (min-height: 480px) {
    .profile-card .pr_card_header {
      width: auto;
      height: auto;
      padding: 30px 20px;
      display: block;
      float: none;
      border-right: none;
    }
    .profile-card .profile-bio {
      width: auto;
      height: auto;
      padding: 15px 20px 30px 20px;
      display: block;
      float: none;
    }
    .profile-social-links {
      width: 100%;
      display: block;
      float: none;
    }
    @-webkit-keyframes materia {
      0% {
        background: #E0E0E0;
      }
      50% {
        -webkit-border-radius: 4px;
      }
      100%{
        width: 280px;
        height: 440px;
        background:#FFFFFF;
        -webkit-border-radius: 4px;
      }
    }
    @keyframes materia {
      0% {
        background: #E0E0E0;
      }
      50% {
        border-radius: 4px;
      }
      100% {
        width: 280px;
        height: 440px;
        background: #FFFFFF;
        border-radius: 4px;
      }
    }
  }
  
  



  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'FF Mark', sans-serif;
  }
  @font-face {
    font-family: 'FF Mark';
    src: url('path/to/ff-mark.woff2') format('woff2'),
         url('path/to/ff-mark.woff') format('woff');
    font-weight: normal; 
    font-style: normal; 
  }
  
  section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(9deg, #1F27C7,#606060,#484848,#303030, #0E0E0E);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    perspective: 1000px;
  }
  section::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, -100px);
    background: linear-gradient(45deg, #1F27C7, #0E0E0E);
  }

  .container {
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
  }
  .container:hover {
    transform: rotateY(-180deg);
  }
  .container .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backface-visibility: hidden;
  }
  .front-face header,
  .front-face .logo {
    display: flex;
    align-items: center;
  }
  .front-face header {
    justify-content: space-between;
  }
  .front-face .logo img {
    width: 48px;
    margin-right: 10px;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
  }
  .front-face .chip {
    width: 50px;
    margin-top: 10px;
  }
  .front-face .card-details {
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
    justify-content: space-between;
  }
  h6 {
    font-size: 10px;
    font-weight: 400;
  }
  h5.number {
    font-size: 18px;
    letter-spacing: 1px;
  }
  h5.name {
    margin-top: 20px;
  }
  .card.back-face {
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
  }
  .card.back-face h6 {
    font-size: 8px;
  }
  .card.back-face .magnetic-strip {
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000;
  }
  .card.back-face .signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(
      #fff,
      #fff 3px,
      #efefef 0px,
      #efefef 9px
    );
  }
  .signature i {
    color: #000;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: -30px;
    z-index: -1;
  }
  .card.back-face h5 {
    font-size: 8px;
    margin-top: 15px;
  }
  