body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

#bus-stops {
    background-color: rgba(255, 255, 255, 0.9);
   /* background: url('Demo.jpg') no-repeat center center;
    background-size: cover;*/
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    padding-left: 20px;
    list-style-type: circle;
}

ul li {
    margin: 5px 0;
}
